/* Print styles */
@media print {
  body {
    background: white !important;
  }
  
  header,
  .print\\:hidden {
    display: none !important;
  }

  .print\\:pt-0 {
    padding-top: 0 !important;
  }

  .print\\:px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .print\\:shadow-none {
    box-shadow: none !important;
  }
}
